.left{
    width: 40%;
    float: left;
}
.right{
    float: right;
    width: 50%;
    margin-right: 20px;
    background-color: aqua;
}
.right p{
    flex-wrap: wrap;
    word-wrap: break-word;
}

p{
    font-size: 20px;
}
span{
    font-weight: bold;
}